# IDEs
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json

# Окружения (Virtual Envs)
.venv/
venv/
env/
ENV/
.env

# Кэш и временные файлы Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Сборка и дистрибутивы
build/
dist/
*.egg-info/
*.egg
.installed.cfg
develop-eggs/
eggs/
.eggs/
sdist/
wheels/

# Тесты и покрытие
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Логи и системные файлы
*.log
pip-log.txt
.DS_Store
.history/

# Прочее
# images/ (раскомментируй, если нужно игнорировать папку с картинками)
